<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/rabbit
        https://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!-- rabbitmq.properties 配置 -->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>

    <!-- 定义 Connection Factory -->
    <rabbit:connection-factory id="rabbitmqConnectionFactory" host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtual-host}" />


    <!-- 定义 Simple 的 Container Factory -->
    <bean id="rabbitListenerContainerFactory"
          class="org.springframework.amqp.rabbit.config.SimpleRabbitListenerContainerFactory">
        <property name="connectionFactory" ref="rabbitmqConnectionFactory"/>
        <!-- Container属性配置，请查看 https://docs.spring.io/spring-amqp/docs/2.4.17/reference/html/#containerAttributes -->
        <property name="concurrentConsumers" value="3"/>
        <property name="maxConcurrentConsumers" value="10"/>
        <property name="prefetchCount" value="1"/>
    </bean>

    <rabbit:annotation-driven container-factory="rabbitListenerContainerFactory"/>
</beans>