<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/rabbit
        https://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <!-- rabbitmq.properties 配置 -->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>

    <!--
        定义 Connection Factory
        publisher-confirms="true" 表示开启确认模式，SpringBoot 2.3.0 版本中不在使用该属性，可以使用 confirm-type 代替
        使用下面的配置方式代替，有三种类型：none(默认), simple, correlated
            a. NONE：表示禁用发布确认模式，默认值。使用此模式之后，不管消息有没有发送到 Broker 都不会触发ConfirmCallback 回调。
            b. SIMPLE：表示消息成功到达 Broker 后，需要同步等待 Broker 的 Ack。使用方法waitForConfirms(ms)或waitForConfirmsOrDie(ms)等待，
                这个方法会阻塞等待到 Broker 的消息确认。如果在规定时间内没有确认，就会报错。属于同步确认模式。
                注意：waitForConfirmsOrDie方法如果返回false则会关闭channel信道，则接下来无法发送消息到Broker。
            c. CORRELATED：表示消息成功到达 Broker 后，触发ConfirmCalllBack回调。属于异步处理模式。
        publisher-returns="true" 表示开启 returnCallback 模式
    -->
    <rabbit:connection-factory id="rabbitmqConnectionFactory" host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtual-host}"
                               confirm-type="CORRELATED"
                               publisher-returns="true"/>
    <!-- 定义 RabbitMQTemplate -->
    <!--
        发送消息时设置强制标志, 仅当提供了 returnCallback 时才适用。
        也可以使用 rabbitTemplate.setMandatory(true) 设置
    -->
    <rabbit:template id="rabbitmqTemplate" mandatory="true" connection-factory="rabbitmqConnectionFactory"/>

    <!-- 定义管理交换机，队列的 -->
    <rabbit:admin connection-factory="rabbitmqConnectionFactory"/>

    <!-- //////////////////////////////////////////////////////////////////////////////// -->
    <!--
        定义 Queue
        name: 队列名称，如果不存在该队列，会自动创建该队列
        auto-declare: 是否持久化
        没有指定exchange，因此是默认值，即 ""，默认的 exchange 类型为 direct,
        此时 routingKey 为 Queue 名称
    -->
    <rabbit:queue id="springSimpleQueue" name="spring.simple.queue" auto-declare="true"/>
    <!-- //////////////////////////////////////////////////////////////////////////////// -->

    <!-- 定义广播类型的 Queue -->
    <rabbit:queue id="springFanoutQueue1" name="spring.fanout.queue1" auto-declare="true"/>
    <rabbit:queue id="springFanoutQueue2" name="spring.fanout.queue2" auto-declare="true"/>

    <!-- 定义广播类型的交换机，并绑定两个队列 -->
    <rabbit:fanout-exchange id="springFanoutExchange" name="spring.fanout.exchange" auto-declare="true">
        <rabbit:bindings>
            <rabbit:binding queue="springFanoutQueue1"/>
            <rabbit:binding queue="springFanoutQueue2"/>
        </rabbit:bindings>
    </rabbit:fanout-exchange>

    <!-- //////////////////////////////////////////////////////////////////////////////// -->
    <!-- 定义定向类型的 Queue -->
    <rabbit:queue id="springDirectQueue1" name="spring.direct.queue1" auto-declare="true"/>
    <rabbit:queue id="springDirectQueue2" name="spring.direct.queue2" auto-declare="true"/>

    <!-- 定义定向类型的交换机，并绑定两个队列 -->
    <rabbit:direct-exchange id="springDirectExchange" name="spring.direct.exchange" auto-declare="true">
        <rabbit:bindings>
            <!-- key 表示 routingKey -->
            <rabbit:binding key="info" queue="springDirectQueue1"/>
            <rabbit:binding key="warn" queue="springDirectQueue2"/>
            <rabbit:binding key="error" queue="springDirectQueue2"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!-- //////////////////////////////////////////////////////////////////////////////// -->
    <!-- 定义Topic类型的 Queue -->
    <rabbit:queue id="springTopicQueue1" name="spring.topic.queue1" auto-declare="true"/>
    <rabbit:queue id="springTopicQueue2" name="spring.topic.queue2" auto-declare="true"/>

    <!-- 定义Topic类型的交换机，并绑定两个队列 -->
    <rabbit:topic-exchange id="springTopicExchange" name="spring.topic.exchange" auto-declare="true">
        <rabbit:bindings>
            <rabbit:binding pattern="*.orange.*" queue="springTopicQueue1"/>
            <rabbit:binding pattern="*.*.rabbit" queue="springTopicQueue2"/>
            <rabbit:binding pattern="Lazy.#" queue="springTopicQueue2"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>
</beans>